.newMessagePage {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background-color: rgba(255, 255, 240, 0.7);
  max-width: 60%;
  border-radius: 1em;
  padding: 1em;
}
.newMessageBox {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: auto;
  color: black
}

.newMessageIcon {
  height: 100%;
  width: 100%;
  grid-area: 2/1/2/2;
}

textarea {
  width: 100%;
}

.newMessageText {
  grid-area: 1/2/5/6;
  height: auto;
  width: auto;
}

.newMessageButtonDiv {
  grid-area: 5/2/6/6;
  display: flex;
  justify-content: space-around;
}

.buttonSize {
  margin-top: 20px;
  width: 150px;
  height: 40px;
  font-size: large;
  margin-left: 35px;
  font-weight: 100;
 text-decoration-line: underline;
}
