.newMessageBox {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 1em;
  height: 200px;
}

.buttonSize {
  background-color: #51eaea;
  color: white;
  border-radius: 1em;
}

textarea {
  border-radius: 1em;
  background-color: #240b4e;
  color: white;
  border-radius: 1em;
  border: 6px solid #380e7f;
  padding: 1em;
  margin: 2em;
}
