.newMessageBox {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 1em;
  height: 250px;
  padding: 10px;
}

.buttonSize {
  background-color: #51eaea;
  color: white;
  border-radius: 1em;
}

textarea {
  border-radius: 1em;
  border: 0;
  color: white;
  border: 6px solid #431199;
  padding: 1em;
  margin: 2em;
}
