img {
    border-radius: 100%;
    margin: 10px;
    height: 150px;
    width: 150px;
}
#header2 {
    margin-bottom: 0px;
}
p {
    margin: 0px;
    padding: 0px;
}
#pfp-card {
    width: 350px;
    height: 500px;
    background-color: lightgray;
}
#user-names{
    margin: 15px;
}
#user-info{
    display: flex;
    justify-content: center;
}
#counters {
    display: flex;
    justify-content: space-evenly;
}
#bio {
    margin-left: 25px;
}
#kweets {
    overflow: scroll;
    height: 300px;
}