img {
  border-radius: 100%;
  margin: 10px;
  height: 150px;
  width: 150px;
}
h2 {
  margin-bottom: 0px;
}
p {
  margin: 0px;
  padding: 0px;
}
.pfp-card {
  display: flex;
  flex-direction: column;
  border-radius: 1em;
  width: 45%;
  height: 100vh;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 25px;
}
.user-names {
  margin: 15px;
}
.user-info {
  display: flex;
  justify-content: center;
}
.counters {
  display: flex;
  justify-content: space-evenly;
}
.bio {
  margin-left: 25px;
}
.kweets {
  /* overflow: auto; */
  height: 100%;
  border-radius: 1em;
  width: 100%;
}

/* The full page styling starts here */

/* .leftBottomBox {
  flex-grow: 1;
  flex-shrink: 1;
  display: flex;
  width: 50vh;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  background-color: #240b4e;
  border-radius: 1em;
} */
