
p {
  margin: 0px;
  padding: 0px;
}
.pfp-card {
  display: flex;
  flex-direction: row;
  border-radius: 1em;
  width: 58vw;
  height: 45vh;
  color: white;
}
.user-picture {
  border-radius: 100%;
  max-height: 38vh;
  max-width: 38vh;
  object-fit: cover;
  min-width: 38vh;
  min-height: 38vh;
  margin-top: 5px;
  
}
.user-names {
  display: flex;
  flex-direction: column;
  max-height: 100%;
  min-width: 9em;
  padding: 5px;
  padding-top:20px;
  
}
/* h2 {
  margin-bottom: 0px;
} */
.username{
  font-size: 20px;
  margin-left:10px;

}
.displayName{
  font-size: 20px;
  margin-left:10px;
  
}
.displayTime{
  margin-top:-4px;
  font-size: 20px;
  margin-left:10px;
}
.titleUserName{
  font-size: 25px;
  display: flex;
  flex-direction: row;
  padding: 20px;
  white-space: nowrap;
}
.titleDisplayName{
  font-size: 25px;
  display: flex;
  flex-direction: row;
  padding: 20px;
  white-space: nowrap;

}
.titleTime{
  font-size: 25px;
  display: flex;
  flex-direction: row;
  padding: 20px;
  white-space: nowrap;
}
.bio {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: stretch;
  padding: 20px;
  margin-top:200px;
  margin-left:-190px;
  font-size: 25px;
  
}

.profileButtons {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 3.5px;
}

.changePictureButtons {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  max-width: 58vw;
}

#deleteUserButton {
  max-width: 9em;
  max-height: 3.5em;
  background-color: #51eaea;
  border-radius: 1em;
}

#editProfileButton {
  max-width: 9em;
  max-height: 3.5em;
  background-color: #51eaea;
  border-radius: 1em;
}

#choosePictureButton {
  max-width: 20em;
  max-height: 3.5em;
  background: #e0e1e2 none;
  background-color: #51eaea;
  margin-right: 3.5px;
  border-radius: 1em;
}

input {
  cursor: pointer;
  display: inline-block;
  min-height: 1em;
  outline: 0;
  border: none;
  vertical-align: baseline;
  background-color: #51eaea;
  color: rgba(0, 0, 0, 0.6);
  font-family: Lato, "Helvetica Neue", Arial, Helvetica, sans-serif;
  margin: 0 0.25em 0 0;
  padding: 0.78571429em 1.5em 0.78571429em;
  text-transform: none;
  text-shadow: none;
  font-weight: 700;
  line-height: 1em;
  font-style: normal;
  text-align: center;
  font-size: 1rem;
  text-decoration: none;
  border-radius: 0.28571429rem;
  box-shadow: 0 0 0 1px transparent inset, 0 0 0 0 rgba(34, 36, 38, 0.15) inset;
  -webkit-tap-highlight-color: transparent;
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  text-indent: 0px;
  align-items: flex-start;
  font: 400 13.3333px Arial;
  overflow: visible;
  min-width: 9em;
}

#submitPictureButton {
  cursor: pointer;
  display: inline-block;
  min-height: 1em;
  outline: 0;
  border: none;
  vertical-align: baseline;
  background-color: #51eaea;
  color: rgba(0, 0, 0, 0.6);
  font-family: Lato, "Helvetica Neue", Arial, Helvetica, sans-serif;
  margin: 0 0.25em 0 0;
  padding: 0.78571429em 1.5em 0.78571429em;
  text-transform: none;
  text-shadow: none;
  font-weight: 700;
  line-height: 1em;
  font-style: normal;
  text-align: center;
  text-decoration: none;
  border-radius: 0.28571429rem;
  box-shadow: 0 0 0 1px transparent inset, 0 0 0 0 rgba(34, 36, 38, 0.15) inset;
  max-width: 8em;
  max-height: 3.5em;
  border-radius: 1em;
}
